
<div class="m-6 py-6 flex flex-col items-center text-center">
  <div class="w-3/4 border-gray-900 border-dashed border"></div>

  <p class="mt-4 mb-4">
    Beauty Studio <%= @tenant.name %>
  </p>

  <p class="mb-4">
    <%= @tenant.location %>
  </p>

  <p class="mb-4">
    Operating Hours:<br>
    <%= @tenant.operating_hours %>
  </p>

  <p class="mb-4">
    Call/whatsapp:<%= @tenant.phone_number %>
  </p>

  <div class="w-3/4 border-gray-900 border-dashed border"></div>
</div>

<div class="w-full py-10">
    <%= render 'search' %>
      


  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Services" %>

  <div class="text-center">
    <div class="text-center py-8">
      <h1 class="md:text-4xl text-2xl font-bold text-gray-900">
        Choose a Service
      </h1>

      <p class="mt-2 text-gray-500">
        Select a service below to book your appointment.
      </p>
    </div> 
      <% if current_user&.staff? %>
        <button class="flex ml-auto m-4"><%= link_to "New service", new_service_path, class: " flex rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %></button>
      <% end %> 
    
  </div>

  <div id="services" class="min-w-full md:flex  flex-wrap gap-10 mx-auto justify-center px-6">
    <% @services.each do |service| %>
      <%= render service %><br>
      
    <% end %>
  </div>
  
</div>
