

<div class="max-w-2xl mx-auto bg-white border border-gray-100 rounded-2xl p-8 shadow-sm text-center my-12">
  <div class="inline-flex items-center justify-center w-16 h-16 bg-purple-50 text-purple-600 rounded-full mb-4">
      ✨
    </div>
     <h1 class="text-2xl font-bold text-gray-900 mb-2">Welcome  <%= Current.tenant.name %>!</h1>
    <p class="text-gray-500 max-w-md mx-auto mb-8">
      Let's get your salon open for business. Complete these 3 quick steps to start accepting client bookings.
    </p>
    </div>
</div>  
  <p> <%= @booking_grouping %></p>

    <div class=" text-2xl text-center text-red-300 mb-4 pb-6">
      <p class="">Total Bookings: <%= @total_bookings %></p>
      
    </div>
    <p class="text-red-300 text-center mb-4 text-2xl  pb-8"> Upcoming bookings: <%= @upcoming %></p> 

  <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
    <% @bookings.each do |booking| %>
      <div  class=" bg-white rounded-xl shadow-md overflow-hidden max-w-md mx-auto mb-8 p-6 transition-transform hover:scale-[1.02] duration-200"> 

       <p>💅  <%= booking.service.title %></p>
       <p class="mb-2 mt-2"><%= booking.name %></p>
       <p class="mb-2"><%= booking.phone_number %></p>
        <p class="flex items-center text-red-400 ">
          <span class="h-4 w-4 mr-2 ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="text-red-400 size-2">
                <path strokeLinecap="round" strokeLinejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            </span>
            <%= booking.date&.strftime("%d %b %Y • %I:%M %p") %><br>
         
        </p>
        
        </div>
      <% end %>
  
