<div class="sign-up py-3  ">
    <div class=" min-h-screen   rounded-md shadow-2xl bg-white flex flex-col lg:flex-row items-center justify-center max-w-xl mx-auto  md:py-3 py-1 ">


        <div class=" flex justify-center">

            <%= form_with model: @user, url: sign_up_path do |form| %>
          <% if form.object.errors.any? %>
            <div>Error: <%= form.object.errors.full_messages.first %></div>
          <% end %>
          <h1 class=" md:text-3xl text-xl  mb-4 md:py-2 py-1  ">Create New Account</h1>

        <div class="flex justify-center space-x-2">
            <div class="mb-2">
              <%= form.label :first_name %>
              <%= form.text_field :first_name, required: true, autofocus: true, autocomplete: "given-name", class:"block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-32 md:w-40" %>
          </div>

            <div class="">
              <%= form.label :last_name %>
              <%= form.text_field :last_name, required: true, autocomplete: "family-name", class:"block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-32 md:w-40" %>
            </div>

        </div>
          
          <div class="mt-1">
            <%= form.label :email_address %>
            <%= form.email_field :email_address, required: true, autocomplete: "email", class:"block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-64 md:w-80" %>
          </div>

          <div class=" mt-2">
            <%= form.label :password %>
            <%= form.password_field :password, required: true, autocomplete: "new-password", class: "block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-64 md:w-80" %>
          </div>

          <div class="mt-2">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class:"block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-64 md:w-80" %>
          </div>

          <div class="mb-2 mt-4">
            <%= form.submit "Sign up",class:"w-64 md:w-80 rounded-lg py-3 px-8 mt-2 bg-black text-white inline-block font-medium cursor-pointer hover:bg-black-200" %>
          </div>
          <div class=" flex  items-center">
            <hr class="grow border-gray-500">
              <span class="m-2"><p>or</p></span>
            
              <hr class="grow border-gray-500">
          </div>
          <div  data-controller="coming-soon"class="flex justify-center space-x-3">
            <button data-coming-soon-target="google"class="bg-red-500 w-32 md:w-40 shadow-md border-gray text-white text-sm rounded-md md:py-3 py-1 hover:bg-red-700">Sign in with Google</button>
            <button data-coming-soon-target="facebook"name="facebook" class="bg-blue-300 w-32 md:w-40 shadow-md border-gray text-white text-sm rounded-md md:py-3 py-1 hover:bg-blue-500">Sign in with facebook</button>

          </div>

          <p class="mt-4 pb-6 text-center">  have an account? <span class="text-blue-400"><%= link_to 'Sign in', new_session_path %></span><p> 

        <% end %>

          
        </div>




    </div>

</div>