<%# <div class=" py-0 md:py-20 relative space-x-10 mb-4 p-0  md:mx-auto md:p-10 bg-white rounded-lg md:flex  w-96 md:w-2/3 h-full block  shadow-md "> %>
<div class="  mb-0 md:mb-6 relative bg-white flex flex-col lg:flex-row items-center justify-center gap-10  max-w-5xl md:mx-auto px-6 py-10">


  <div class="object-contain md:hidden w-fit h-fit image"><%= image_tag 'book.jpg' %></div>
  <div class=" md:absolute top-10 md:left-20 left-0">  
    <h1 class=" mt-2 pt-2 text-2xl font-medium text-gray-900">  Make your bookings</h1>
    <p class=" mt-2 font-medium">We are the best nail technician <br>in town let us work on your nails</p>
  </div>
  
  <div  turbo-frame id="booking_form"class=" pl-0 pl-6 md:mx-auto mt-0 md:mt-10 md:pt-16 pt-0  ">
    <%= form_with model: @booking, data: {turbo_frame: "_top" } do |form| %>

      
        <div class="mt-4 md:mt-0">
          <%= form.label :name, class: " text-sm font-medium text-gray-700 " %><br>
          <%= form.text_field :name, class:"block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full md:w-80" %>
        </div>

        
        <div class="mt-4">
          <%= form.label :email, class: " text-sm font-medium text-gray-700 " %><br>
          <%= form.text_field :email, class:"block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full md:w-80" %>

        </div>

        <div class="mt-4">
          <%= form.label :phone_number, class:"block text-sm font-medium text-gray-700 " %>
          <%= form.text_field :phone_number, class:"block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full md:w-80" %>

        </div>

      <div class="mt-4">
          <%= form.label :service_id, "Select a service", class: "block text-sm font-medium text-gray-700 mb-1"  %>
          <%= form.collection_select :service_id, Current.tenant.services, :id, :title,{ selected: params[:service_id] }, class:" w-full md:w-80 py-3 px-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-pink-500" %>
      </div>

      <div class="mt-4 mb-4">
          <%= form.label :date, "select Date and time", class:"block text-sm font-medium text-gray-700 mb-1" %><br>
          <%= form.text_field :date, data: { controller: "flatpickr", flatpickr_enable_time: true,
          flatpickr_date_format: "Y-m-d H:i"},class:"w-full md:w-80 py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-pink-500" %>
          
      </div>
        <%= form.submit "Book Now" , class:" shadow-lg transition-all w-full   md:w-80 rounded-lg py-3 px-8 mt-2 bg-pink-600 hover:bg-pink-700 text-white inline-block font-medium cursor-pointer "%>

  <% end %>  
</div>

  <div class=" hidden md:flex image justify-center "><%= image_tag 'book.jpg', class:"w-4/5 h-auto border rounded-md" %></div>


</div>
