<%= form_with url: salon_registration_path, class:"p-20 m-4" do |form| %>
  
  <%= fields_for :tenant, @tenant do |t|%>
    <div>
          <div class="mb-2">
              <%= t.label :name %>
              <%= t.text_field :name, required: true, autofocus: true, autocomplete: "given-name", class:"block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-32 md:w-40" %>
          </div>

          <div class="">
            <%= t.label :subdomain %>
            <%= t.text_field :subdomain, placeholder: "salon-name-link", required: true, autocomplete: "family-name", class:"block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-32 md:w-40" %>
          </div>

        </div>
          
          <div class="mt-1">
            <%= t.label :location %>
            <%= t.text_field :location, required: true, autocomplete: "email", class:"block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-64 md:w-80" %>
          </div>

          <div class=" mt-2">
            <%= t.label :phone_number %>
            <%= t.text_field :phone_number, required: true, autocomplete: "new-password", class: "block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-64 md:w-80" %>
          </div>

          <div class="mt-2">
            <%= t.label :email %>
            <%= t.email_field :email, required: true, autocomplete: "new-password", class:"block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-64 md:w-80" %>
          </div>

          
  <% end %>

  <%= fields_for :user, @user do |u| %>
   <div>
        <div class="mb-2">
            <%= u.label :first_name %>
            <%= u.text_field :first_name, required: true, autofocus: true, autocomplete: "given-name", class:"block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-32 md:w-40" %>
        </div>

        <div class="">
            <%= u.label :last_name %>
            <%= u.text_field :last_name, required: true, autocomplete: "family-name", class:"block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-32 md:w-40" %>
        </div>

      </div>
          
    <div class="mt-1">
        <%= u.label :email_address %>
        <%= u.email_field :email_address, required: true, autocomplete: "email", class:"block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-64 md:w-80" %>
    </div>

    <div class=" mt-2">
    <%= u.label :password %>
    <%= u.password_field :password, required: true, autocomplete: "new-password", class: "block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-64 md:w-80" %>
    </div>

    <div class="mt-2">
        <%= u.label :password_confirmation %>
        <%= u.password_field :password_confirmation, required: true, autocomplete: "new-password", class:"block shadow rounded-md  border border-gray-400 outline-none px-3 py-2 mt-2 w-64 md:w-80" %>
    </div>

    
   
  <% end %>
    <div class="mb-2 mt-4">
     <%= form.submit "Sign up",class:"w-64 md:w-80 rounded-lg py-3 px-8 mt-2 bg-black text-white inline-block font-medium cursor-pointer hover:bg-black-200" %>
    </div>


<% end %>